body {
    background-color: #333;
    font-family: 'cleanNtidy', sans-serif;
    font-size: 9pt;
}

button {
    color: #BBB;
    border: none;
    padding: 4px;
    transition: 0.5s;
    font-size: 12px;
    min-width: 80px;
}
button:disabled {
    color: #686868 !important;
    transition: 0.3s;
    background-color: rgb(66, 66, 66)  !important;
}

button:hover {
    color: #FFF;
    transition: 0.5s;
}

button.primary {
    flex-basis: 75% ;
    margin-right: 2px;
    background-color: #2168af;
}

button.primary:hover {
    background-color: #2d8ceb;
}

button.secondary {
    flex-basis: 25%;
    background-color: #7a6a42;
}

button.secondary:hover {
    background-color: #a7883c;
}

.buttons {
    margin: 6px 0 6px 0;
    display: flex;
    justify-content: space-between;
}

.controls,
.settings {
    padding: 6px 10px 6px 10px;
    border: 1px solid #444;
    line-height: 200%;
    margin-top: 4px;
}

.info {
    color: #686868;
}

.sectionHeading {
    color: #aec6de;
}

.title a {
    font-weight: bold;
    color: #DDD;
    text-decoration-line: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #111;
    text-align: left;
    border-radius: 4px;
    padding: 4px;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 10%;
    margin-right: -30%;
    width: 180px;
    opacity: 0;
    transition: 0.5s;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
    transition: 0.5s;
}


.tooltip {
    position: relative;
    transition: 0.5s;
    color: #bbb;
}

.tooltip:hover {
    color: #FFF;
    transition: 0.5s;
}

.tooltiptext.danger {
    color: #e18e79;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #222 transparent transparent transparent;
}

@font-face {
    font-family: "cleanNtidy";
    /* src: url("../lib/AdobeClean/AdobeClean-light.otf") */
    src: url("../lib/Ubuntu/Ubuntu-Light.ttf");
}